/* General */
html {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

* {
    /*border: 1px solid red;*/
}

body {
    display: flex;
    background-image: url(./assets/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
}

/* Header */

.container {
    max-width: 100%;
    margin: 0 8vw;
    padding: 0 2vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 2rem;
    height: 40%;
}

.header_logo {
    padding-top: 2rem;
}

.header_content {
    position: absolute;
    align-self: flex-end;
    justify-self: flex-start;
    width: 60%;
}

.header_content h1 {
    font-size: 5.5rem;
    color: black;
    line-height: 5.5rem;
    letter-spacing: -1px;
    font-weight: 700;
    margin-bottom: 1rem;
}

.header_content p {
    font-size: 1.25rem;
    line-height: 2.125rem;
    margin-bottom: 0;
    padding-right: 10rem;
}

.header_side {
    position: absolute;
    right: 0;
    top: 0;
}

/* Main */

.main {
    display: flex;
    max-width: 100%;
    height: 950px;
    margin-top: 100px;
    overflow: hidden;
}

.background {
    display: flex;
    position: relative;
    align-self: center;
    top: -40px;
    z-index: -1;
    height: 37.5rem;
    width: 100%;
    max-width: 100%;
    background-color: hsl(244, 23%, 12%);
    overflow: hidden;
    align-items: flex-start;
    justify-content: center;
    border-radius: 1rem;
}

.background img {
    position: relative;
    display: block;
    width: 312px;
    height: 460px;
    object-fit: scale-down;
    /*align-items: flex-start;
    justify-self: flex-start;
    */
}

.main .phone {
    position: absolute;
    width: 312px;
    height: 642px;
    align-self: flex-start;
    margin-left: 8vw;
}

.main .subscription_form {
    position: absolute;
    display: flex;
    flex-direction: column;
    max-width: 350px;
    max-height: 500px;
    align-items: center;
    text-align: left;
    padding: 3rem 3rem 1rem 3rem;
    margin-top: 350px;
    right: 20vw;
    background-color: hsl(12, 94%, 65%);
    border-radius: 1rem;
    color: hsl(20, 33%, 98%);
}

.subscription_form h2 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.5rem;
    justify-self: flex-start;
    width: 100%;
    margin-bottom: 0.6rem;
    font-size: 2.5rem;
    margin-top: 0;
}

.subscription_form p {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.25rem;
    line-height: 2.125rem;
}

.subscription_form .price {
    font-weight: bold;
    font-size: 2rem;
}
.price h3 {
    margin-top: 0;
    margin-bottom: 1rem;
}

.subscription_form .button {
    width: 100%;
    height: 8vh;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    line-height: 11px;
}

.subscription_form button {
    display: flex;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    font-weight: bold;
}

.subscription_form button img {
    padding-right: 0.5rem;
}

.subscription_form .ios button {
    background-color: hsl(244, 23%, 12%);
    color: hsl(20, 33%, 98%);
}

.subscription_form .ios button:hover {
    background-color: hsl(177, 68%, 64%);
    cursor: pointer;
}

.subscription_form .android button {
    background-color: hsl(20, 33%, 98%);
    color: black;
    
}

.subscription_form .android button:hover {
    background-color: hsl(33, 100%, 70%);
    cursor: pointer;
}

/* Footer */

.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.footer .footer_logo {
    justify-self: flex-start;
    align-self: flex-start;
}

.footer .footer_rights {
    justify-self: center;
    align-self: flex-start;
}

.footer .footer_rights p {
    font-size: 1rem;
    line-height: 1.625rem;
    margin-top: 0;
}

.footer_rights .email {
    font-weight: bold;
}

.footer .footer_social {
    display: flex;
    position: relative;
    justify-self: flex-end;
    align-self: center;
    width: 100px;
    justify-content: space-between;
}
.footer .footer_social img:hover {
    filter: invert(62%) sepia(92%) saturate(3057%) hue-rotate(329deg) brightness(107%) contrast(96%);
    cursor: pointer;
}



@media screen and (min-width: 765px) and (max-width: 820px) {
    .container {
        margin: 0;
        padding: 0 1vw;
    }

    .header_content {
        width: 60%;
    }

    .header_side {
        right: -50px;
        top: 0;
        
    }

    .header_content h1 {
        font-size: 4rem;
    }

    .header_content p {
        font-size: 1.25rem;
        padding-right: 6rem;
    }

    .background {
        top: -70px;
    }

    .main .phone {
        width: 281px;
        height: 578px;
    }

    .main .subscription_form {
        right: 10vw;
        margin-top: 280px;
        max-width: 335px;
        max-height: 460px;
        padding: 2rem 2rem 0.5rem 2rem;
    }

    .subscription_form h2 {
        font-size: 2rem;
    }

    .subscription_form p {
        font-size: 1.25rem;
    }

    .subscription_form .price {
        font-size: 1.5rem;
        align-self: flex-start;
    }

    .footer .footer_rights {
        grid-column: 1 / 3;
        width: 60%;
        justify-self: flex-start;
        padding-top: 2rem;
    }
}

@media handheld, screen and (max-width: 765px) {
        
    
        .container {
            margin: 0;
            padding: 0;
        }

        .header {
            padding: 0 2vw;
        }
    
        .header_side {
            display: none;
        }
        
        .header_content {
            width: 90%;
        }

        .header_content h1 {
            font-size: 3rem;
            line-height: normal;
        }
    
        .header_content p {
            font-size: 1rem;
            padding-right: 0;
        }

        .main .background {
            top: -80px;
        }

        .main .phone {
            width: 224px;
            height: 462px;
            margin-left: 20vw;
            margin-right: 20vw;
        }

        .main .subscription_form {
            margin-top: 530px;
            right: 0;
            padding: 2rem 1.5rem 1rem 1.5rem;
            max-height: 520px;
        }
        
        .footer {
            grid-template-columns: auto;
            grid-template-rows: auto auto 10rem;
            margin-top: 200px;
            padding: 0 3vw;
            width: 90%;
        }

        .footer_rights {
            margin-top: 2rem;
            padding-right: 2rem;
        }

        .footer .footer_social {
            grid-column: 1 / 2 ;
            justify-self: unset;
        }
}

/*@media screen and (max-width: 1030px) and (min-width: 820px) {
    .header_content {
        width: 55%;
    }

    .header_content h1 {
        font-size: 4rem;
    }

    .header_content p {
        font-size: 1.25rem;
        padding-right: 6rem;
    }

    .header_side {
        right: -30px;
        top: 0;
        
    }
}*/